:root {
    --primary-color: ;
    --secondary-color: ; 
    --accent-color: ;
    --navbar-color: #7c73e6; 
}
body {
    font-family: 'Lato' !important; 
    background: #fff;
}
main {
    margin-top: 50px; 
}
.navbar-color {
    background: #fff;
}

.button-color {
    background: #7c73e6; 
}
.bg-main-color {
    background: #FF5851; 
}
.main-font-color {
    color: #1C1B20; 
}
.white-font-color {
    color: #fff; 
}
.title-decoration {
    font-size: 12vw;
    letter-spacing: 1vw;
    line-height: 1;
}
.fw-bolder {
    font-weight: 900 !important;
}