:root {
    --primary-color: ;
    --secondary-color: ; 
    --accent-color: ;
    --navbar-color: #7c73e6; 
}
body {
    font-family: 'Lato' !important; 
}
main {
    margin-top: 50px; 
}
.navbar-color {
    background: #7c73e6;
}
.text-color {
    color: #fff;
}
.button-color {
    background: #7c73e6; 
}
